<!doctype html>
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <style type="text/css">
            .main-container {
              margin: 5%;
              padding: 3%;
              border: 1px solid black;
              border-radius:.75rem!important;
              background-color: white;
              min-height: 80vh;
            }
            .content-container {
                padding: 5%
            }
            body {
                background-color: black!important;
            }
        </style>

        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        {% endblock %}
    </head>
    <body>
        <div class="main-container">
        <nav class="nav nav-tabs">
              <a class="navbar-brand" href="#">Obsidian Audio Capture</a>
              <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link {{ 'active' if active == 'home' }}" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {{ 'active' if active in ['captures', 'audio'] }} {{ 'disabled' if not logged_in }}" data-bs-toggle="dropdown" role="button" aria-expanded="false">Browse</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item {{ 'active' if active == 'captures' }} {{ 'disabled' if not logged_in }}" href="#">Captures</a></li>
                      <li><a class="dropdown-item {{ 'active' if active == 'audio' }} {{ 'disabled' if not logged_in }}" href="#">Audio</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{ 'active' if active == 'guide' }} {{ 'disabled' if not logged_in }}" aria-disabled="true">API Guide</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{ 'active' if active == 'settings' }} {{ 'disabled' if not logged_in }}" href="{{url_for('settings')}}">Settings</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link {{ 'active' if active == 'logs' }} {{ 'disabled' if not logged_in }}" aria-disabled="true">Logs</a>
                  </li>
                </ul>
        </nav>
        <div class="content-container">
            {% block content %}
            {% endblock%}
        </div>
        </div>
        

        {{ bootstrap.load_js() }}
    </body>
</html>