{% extends 'base.html' %}
{% set active = 'home' %}

{% block head %}
{{ super() }}
{% endblock%}

{% block content %}
<!-- Toasts -->
<div class="toast-container top-0 end-0 p-3">
  <div class="toast align-items-center text-bg-primary border-0" id="note-result-toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <div class="toast-body" id="note-result-toast-body"></div>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>

  <div class="toast align-items-center text-bg-primary border-0" id="audio-result-toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body" id="audio-result-toast-body"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<!-- Forms -->
<div class="mb-3">
    <label for="formFile" class="form-label">Capture audio note</label>
    <input class="form-control" type="file" id="formFile" accept="audio/*">
</div>

<hr />

<label for="captureInput" class="form-label">Capture Note</label>
<div class="input-group">
    <span class="input-group-text">Capture</span>
    <textarea class="form-control" aria-label="With textarea" name="capture" id="captureInput"></textarea>
</div>
<br>
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="todoCheck" name="todo-check">
    <label class="form-check-label" for="todoCheck">Is a to-do item</label>
</div>
<br>
<button type="button" class="btn btn-primary" id="submitButton">Submit</button>


<script>
    const captureInput = document.getElementById("captureInput");
    const todoCheck = document.getElementById("todoCheck");
    const audioInput = document.getElementById("formFile");
    const submitButton = document.getElementById("submitButton");

    const displayToast = (failType = null, isAudio) => {
        const uploadType = isAudio ? "audio" : "note";
        let toast = document.getElementById(uploadType + "-result-toast");
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toast);
        let toastBody = document.getElementById(uploadType + "-result-toast-body");
        if (failType) {
            toastBody.innerText = uploadType + " " + failType + " failed." ;
            if (toast.classList.contains("text-bg-primary")) {
                toast.classList.add("text-bg-danger");
                toast.classList.remove("text-bg-primary");
            }
        } else {
            toastBody.innerText = uploadType + " uploaded successfully.";
            if (toast.classList.contains("text-bg-danger")) {
                toast.classList.add("text-bg-primary");
                toast.classList.remove("text-bg-danger");
            }
        }
        toastBootstrap.show()
        
    }

    const submitButtonToggle = () => {
        if (submitButton.disabled) {
            submitButton.disabled = false;
            submitButton.innerHTML = "Submit";
        } else {
            submitButton.disabled = true;
            submitButton.innerHTML = `<span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
            <span role="status"> Submitting...</span>`
        }
    }

    submitButton.addEventListener('click', (event) => {
        event.preventDefault();
        if (audioInput.files.length) {
            submitButtonToggle();

            let reader = new FileReader();
            reader.readAsDataURL(audioInput.files[0]);
            reader.onload = () => {
                fetch("/capture/create", {
                    method: "POST",
                    body: JSON.stringify({
                        capture_type : 'audio',
                        data: {
                            audio: reader.result,
                            file_name: audioInput.files[0].name
                        },
                    }),
                    headers: { 
                        "Content-type": "application/json; charset=UTF-8",
                        "Authorization": "{{ user_info.api_key }}"
                    }
                }).then((data) => {
                    submitButtonToggle();
                    if (data.ok) {
                        displayToast(isAudio=true)
                    } else {
                        displayToast(failType="transcription", isAudio=true)
                    }
                }).catch((error) => {
                    submitButtonToggle();
                    displayToast(failType="upload", isAudio=true)
                });
            }
        };

        if (captureInput.value) {
            fetch("/capture/create", {
                method: "POST",
                body: JSON.stringify({
                    capture_type : 'note',
                    data: {
                        text: captureInput.value
                    },
                    todo: todoCheck.checked
                }),
                headers: { 
                    "Content-type": "application/json; charset=UTF-8",
                    "Authorization": "{{ user_info.api_key }}"
                }
            }).then((data) => {
                if (data.ok){
                    displayToast(isAudio=false)
                    captureInput.value = "";
                } else {
                    displayToast(failType="upload", isAudio=false)
                }
            }).catch((error) => {
                displayToast(failType="upload", isAudio=false)
            });
        };
    });
</script>
{% endblock%}